{% if form.errors %}
<div class="alert alert-danger alert-dismissible custom-alert" role="alert">
    {% for field in form %}
        {% for error in field.errors %}
            <p>{{ error|escape }}</p>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <p>{{ error|escape }}</p>
    {% endfor %}
</div>
{% endif %}