{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible custom-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{%endfor%}