{% extends 'bases/auth.html' %}
{% block title %}Registrate{% endblock %}

{% block content %}
<div class="container-login">
    <div class="card" style="width:400px;">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <h5 class="card-title text-center">Registrate</h5>
                {% include 'partials/errors.html' %}
                {% for i in form %}
                    <div class="form-group">
                        <label for="id_{{ i.name }}">{{ i.label }}</label>
                        {{ i }}
                    </div>
                {% endfor %}
                <div class="text-center">
                    <button class="btn btn-secondary">Registrate</button>
                </div>
                <div class="text-center">
                    <a href="{% url 'generics:login' %}">Iniciar Sesión</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}