a {
	text-decoration: none;
}

.custom-center {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.dropdown-toggle::after {
	margin-left: unset;
	vertical-align: unset;
	content: "";
	border-top: unset;
	border-right: unset;
	border-left: unset;
}

.dropdown-menu {
	width: 300px;
	padding: 10px;
}

.dropdown-menu-custom {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
}

.cutosm-list-group {
	height: 100%;
	max-height: 250px;
	overflow-y: auto;
}

.custom-list-group-item {
	border: unset;
	padding: 10px 0;
	font-size: 12px;
	font-weight: 500;
}

.custom-list-group-item:first-child,
.custom-list-group-item:last-child {
	border: unset;
}

.custom-list-group-item:hover {
	background-color: #343a400a;
	cursor: pointer;
}

.container-list-group {
	width: 100%;
	display: flex;
	align-items: center;
}

.list-group-data {
	margin-left: 15px;
	width: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img.rounded-circle {
	border-radius: 100%;
}

.custom-alert {
	margin-top: 55px;
	border-radius: unset;
}

.custom-card {
	margin: 10px;
	border: unset;
	border-radius: unset;
	box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.04);
	width: 20rem;
}

.custom-card:hover {
	cursor: pointer;
	box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.10);
}

.list-carts-data {
	margin-left: 25px;
	width: calc(100% - 100px);
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-row {
	position: relative;
	bottom: 311px;
}

.card-detail-container {
	position: fixed;
	right: 0;
}

@media (max-width: 765px) {
	.card-detail-container {
		position: inherit;
		right: unset;
		justify-content: center;
		display: flex;
	}

	.container-row {
		position: relative;
		bottom: 350px;
	}
}

.summary-detail {
	text-align: justify;
	font-size: 20px;
	font-weight: 400;
}