{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Carrito{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %} ">
                <!-- icon font -->
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "css/login.css" %}" rel="stylesheet">

    </head>
    <body>
        {% include 'partials/messages.html' %}
        {% block content %}{% endblock %}
       <script src="{% static "js/jquery-3.2.1.slim.min.js" %}" ></script>
       <script  src=" {% static "js/popper.min.js" %} "></script>
       <script  src=" {% static "js/bootstrap.min.js" %} "></script>
    </body>
</html>
