{% extends 'bases/normal.html' %}
{% load cart_tab %}

{% block content %}
<div class="container">
    <div class="row" >
        <div class="col-lg-12">
            <h3>Carrito de compra</h3>
        </div>
        <div class="row" style="width:100%">
            <div class="col-lg-12">
                {% if object_list %}
                    <ul class="list-group">
                        {% for object in object_list %}
                            <li class="list-group-item">
                                <div class="container-list-group">
                                    <img src="{{ object.cover_page.url }}" alt="{{ object.name }}"  width="70" height="70" class="rounded-circle">
                                    <span class="list-carts-data">
                                        <a href="{% url 'courses:course_detail' object.slug %}">{{ object.name }}</a>
                                        {% if object.is_free %}
                                        <span>S/0</span>
                                        {% else %}
                                        <span>S/{{ object.price }}</span>
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="row">
                        <div class="col-lg-12" style="text-align: end; margin-top:10px;">
                            <h4>Total: S/{{ request.user|total_course }}</h4>
                        </div>
                    </div>
                {% else %}
                    <div style="text-align: center; margin-top:20px;">
                        <h4>No hay nada en el carrito</h4>
                        <a href="" class="btn btn-outline-primary">Intenta añadir un curso</a>
                    </div>
                {% endif %}
                <div style="text-align: center; margin-top:20px;">
                    <a href="javascript:window.history.back()" class="btn btn-secondary">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}