{% extends 'bases/normal.html' %}
{% load cart_tab %}

{% block content %}
<style>
.parallax {
    /* The image used */
    background-image: url("{{ object.cover_page.url }}");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -60px;
    opacity: 0.4;
}
.container-fluid{
    width: unset;
    margin-right: unset;
    margin-left: unset;
    padding-right: unset;
    padding-left: unset;
    width: 100%;
}
</style>
<div class="parallax"></div>
<div class="container">
    <div class="row container-row">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h1>{{ object.name }}</h1>
            <p class="summary-detail ">{{ object.summary }}</p>
            <span>Autores:</span>
            <ul>
                {% for author in object.authors.all %}
                    <li>{{ author.username|upper }}</li>
                {% endfor %}
            </ul>
            <span>Fecha de creación:</span>
            <ul>
                <li>{{ object.created_at }}</li>
            </ul>
            <h4>Sobre el Curso:</h4>
            <p style="text-align:justify; line-height: 1.5;">{{ object.about }}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 card-detail-container">
            <div class="card custom-card" style="box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.30);">
                <img class="card-img-top" src="{{ object.cover_page.url }}" alt="{{ object.name }}" style="max-height: 200px;">
                <div class="card-body">
                    <h3 class="text-info">
                        {{ object.name }}
                    </h3>
                    {% if object.is_free %}
                        <p class="card-text text-wrap" >Precio: Gratis</p>
                    {% else %}
                        <p class="card-text text-wrap" >Precio: S/{{ object.price }}</p>
                    {% endif %}
                    <p class="card-text text-wrap" >
                        Categoria:
                        {% for category in object.categorys.all %}
                            {{ category|title }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                </div>
                {% if not object|user_has_course:request.user %}
                    <form action="{% url 'carts:add_to_cart' object.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-info" style="margin:15px; width: 90%;">
                            Añadir al carrito
                            <span class="fa fa-shopping-cart fa-lg shopping_icon" aria-hidden="true"></span>
                        </button>
                    </form>
                {% else %}
                    <a href="#" class="btn btn-outline-success" style="margin: 5px 15px;">
                        Añadido al carrito
                        <span class="fa fa-shopping-cart fa-lg shopping_icon" aria-hidden="true"></span>
                    </a>
                    <form action="{% url 'carts:remove_from_cart' object.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger" style="margin: 0 0 15px 15px; width: 90%;">
                            Remover del carrito
                            <span class="fa fa-shopping-cart fa-lg shopping_icon" aria-hidden="true"></span>
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}