{% extends 'bases/normal.html' %}
{% load cart_tab %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="row" style="justify-content: center;">
			{% for course in object_list %}
				<a href="#" style="justify-content: center; display: flex;">
					<div class="card custom-card">
						<img class="card-img-top" src="{{ course.cover_page.url }}" alt="{{ course.name }}" style="max-height: 200px;">
						<div class="card-body">
							<h3 class="text-info">
								<a href="{% url 'courses:course_detail' course.slug %}">
									{{ course.name }}
								</a>
							</h3>
							<p class="card-text text-wrap">{{ course.summary }}</p>
							{% if course.is_free %}
								<p class="card-text text-wrap" >Precio: Gratis</p>
							{% else %}
								<p class="card-text text-wrap" >Precio: S/{{ course.price }}</p>
							{% endif %}
							<p class="card-text text-wrap" >Profesor: {{ course.authors.all.0.username|title }}</p>
						</div>
						{% if not course|user_has_course:request.user %}
							<form action="{% url 'carts:add_to_cart' course.slug %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-outline-info" style="margin:15px; width: 90%;">
									Añadir al carrito
									<span class="fa fa-shopping-cart fa-lg shopping_icon" aria-hidden="true"></span>
								</button>
							</form>
						{% else %}
							<a href="{% url 'carts:shopping_cart_list' %}" class="btn btn-outline-success" style="margin: 5px 15px;">
								Ver Carrito
								<span class="fa fa-shopping-cart fa-lg shopping_icon" aria-hidden="true"></span>
							</a>
							<form action="{% url 'carts:remove_from_cart' course.slug %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-outline-danger" style="margin: 0 0 15px 15px; width: 90%;">
									Remover del carrito
									<span class="fa fa-shopping-cart fa-lg shopping_icon" aria-hidden="true"></span>
								</button>
							</form>
						{% endif %}
					</div>
				</a>
			{% empty %}
				<h1>No hay cursos disponibles</h1>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock content %}